<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnotjihimba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Learn Otjihimba"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnOtjihimba">
        <activity
            android:name=".FamilyQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".TouristAttractionQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".EmergencyQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".AccommodationQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".NumberQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".SeasonQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".WildlifeQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".ColorQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".DateTimeQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".DirectionPlacesQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".DaysQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".NatureQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".FoodQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".ChatQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".GreetingQuiz"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".QuizTypes"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".LevelTwoActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".QuizLevel"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Learn Otjiherero (Otjihimba)"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FactsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="true" > -->
        <!-- </activity> -->
        <activity
            android:name=".GreetingsActivity"
            android:label="Greetings"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="Restaurant"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".AnimalsActivity"
            android:label="Wildlife"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".PlacesActivity"
            android:label="Direction and Places"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".DaysActivity"
            android:label="Days"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".FamilyActivity"
            android:label="Family"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".NatureActivity"
            android:label="Nature"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".NumbersActivity"
            android:label="Numbers"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".SmallTalkActivity"
            android:label="Chats"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".TimeActivity"
            android:label="Time"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".AccomodationActivity"
            android:label="Accomodation"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".EmergencyActivity"
            android:label="Emergency"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".SeasonsActivity"
            android:label="Seasons"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".ColorsActivity"
            android:label="Colors"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
        <activity
            android:name=".TouristActivity"
            android:label="Tourist"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnotjihimba.MainActivity" />
        </activity>
    </application>

</manifest>